.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: black;
    color: #95C623;
    height: 94px;
    align-items: center;
  }

.inner {
    margin-left: 30px;
  }

.ul{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    list-style-type: none;
    justify-content: space-around;
}