.container{
    background-color: #00120B;
}

.containertitulo{
    color: #95C623;
    padding: 40px 0px 0px 50px;
}

.containercards{
    padding: 25px 0px 25px 0px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    max-width: 100%;
    overflow-x: auto; 

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 821px) {
    .container h3{
        text-align: center;
        padding: 20px 0px 0px 0px;
    }
  }