.container{
    background-color: aliceblue;
}

.divsuperior{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 20px;
    /* background-color: blue; */
    background-color: #35605A;
    padding-top: 30px;
    padding-bottom: 20px;
}

.minicards{
    background-color: #6B818C;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    font-weight: bolder;
    box-shadow: #00000040 1px 3px 15px;
}


.divinferior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #35605A;
}

.textoquemsomos{
    padding: 40px 20px 0px 50px;
}

.textoquemsomos h2{
    color: #95C623;
    margin-bottom: 20px;
}

.textoquemsomos p{
    color: aliceblue;
} 

.fotoequipe{
    width: 100%;
}

.fotoequipe img{
    width: 700px;
    height: 400px;
}

@media (max-width: 821px) {
    .divsuperior{
        grid-auto-flow: row; 
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .divinferior{
        display: grid;
        grid-template-columns: 1fr;
        background-color: #35605A;
        width: 100%;
        height: auto;
    }

    .fotoequipe{
        display: none;
    }

    .textoquemsomos p{
        text-align: justify;
        padding: 0px 20px 30px 0px;
    }

    .textoquemsomos h2{
        text-align: center;
    }
  }